@import './variables.css';


.App {
  background: linear-gradient(to left, var(--color-background-light), var(--color-purple-grey));
  color: white;
  height: auto;
  width: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  flex-wrap: wrap;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-purple-grey);
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 0 10px var(--color-background-dark);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-purple-light);
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 0 10px var(--color-background-dark);
}

input:checked+.slider {
  background-color: var(--color-cyan-200);
}

input:focus+.slider {
  box-shadow: 0 0 10px var(--color-background-dark);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.prodTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.radioBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.radioBtns label {
  list-style: none;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.radioBtns input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: var(--color-purple-grey);
  content: '';
  flex-wrap: wrap;
  display: flex;
  visibility: visible;
  border: 2px solid white;
}

.radioBtns input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  flex-wrap: wrap;
  background-color: var(--color-purple-light);
  content: '';
  visibility: visible;
  border: 2px solid white;
}



.calcSector {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.calculate {
  margin-top: 1rem;
  height: 20px;
  width: 220px;
  margin-bottom: 1rem;
  text-decoration: none;
}

.calcBtn {
  background-color: var(--color-purple-light);
  text-decoration: none;
  border-radius: 10px;
  color: var(--color-background-light);
  height: 30px;
  width: 75px;
  font-weight: bold;
}